.Message {
    padding: 1vh 0 0 0;
    margin: 0;
}

.Posts {
    width: 100%;
    background-color: aliceblue;
}

.posts-title {
    font-family: 'Oswald', sans-serif;
    font-size: 4.5vh;
    padding: 2vh 0 0;
}

.posts-err-msg {
    font-style: italic;
}

.MessageLength {
    font-size: 1.5vh;
    text-align: right;
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 700px) {
    .Message {
        padding: 2vh 0 0 0;
        margin: 0;
        width: 100%;
    }
    
    .Posts {
        max-width: 70%;
        background-color: aliceblue;
        padding: 2vh 10vh;
        margin: 0;
    }
    
    .posts-err-msg {
        font-style: italic;
    }
}