.container {
    min-height: 85vh;
}

@media (min-width: 700px) {
    .container {
        min-height: 100% !important;
    }
    .row {
        height: 100% !important;
    }
    .layout {
        min-height: 100%;
    }
}

