.CardSubtitle {
    font-size: 2vh;
}

.CardText {
    font-size: 3vh;
}

.CardTitle {
    font-size: 2vh;
}

.CardBody {
    margin: 0;
    padding: 0;
}

@media (min-width: 700px) {
    .Card {
        width: 30%;
        margin: 4px;
    }

    .CardSubtitle {
        font-size: 1.5vh;
    }
    
    .CardText {
        font-size: 2.5vh;
    }
    
    .CardTitle {
        font-size: 1vh;
    }
}