.Profile {
    max-width: 100%;
    background-color: aliceblue;
}

.profile-title {
    font-family: 'Oswald', sans-serif;
    padding: 2vh 0 0 0;
}

@media (min-width: 700px) {
    .Profile {
        max-width: 100%;
        background-color: aliceblue;
        padding: 2vh 20vh;
    }
    
    .profile-title {
        font-family: 'Oswald', sans-serif;
    }
}